go 1.23.4

use (
	// ./api/docs
	./app
	./becommon
	./beconsole
	./beconstants
	./becore
	./bedatabase
	./beservice
	./betools
	./betypes
	./modules/auth
	./modules/healthcheck
	./modules/location
	./modules/notifications
	./modules/user
)
